<header class="navbar-fixed-top">
    <nav id="navbar" class="navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="app.home"><img ng-src="assets/theme/{{theme}}/img/logo.png" /></a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="nav navbar-nav" menu="::nav"></div>

            </div>

        </div>
    </nav>
    <div id="locationbar" class="container-fluid clearfix">
        <h1 class="pull-left" ng-bind="title"></h1>
        <ul class="breadcrumb pull-right">
            <li ng-repeat="z in breadcrumb">
                <a ui-sref="{{z.href}}" ng-bind="z.title" ng-if="$index!=breadcrumb.length-1"></a>
                <span ng-bind="z.title"  ng-if="$index==breadcrumb.length-1"></span>
            </li>
        </ul>
    </div>
</header>
<section ui-view class="container-fluid"></section>